body {
    text-align: center;
   
}

#image1 {
    height: 600px;
    width: 400px;
}

p2 {
    font-size: 50px;
    font-family: fantasy;
}

p3 {
    text-align: left;
}
#home{
     background-image: linear-gradient(#33ffcc, #33ccff, #3366ff, #9933ff, #ff33ff, #ff3399, #ff3366);
}
#cast{
  background-image: linear-gradient(#ff3333,#ff9933,#ffff33) ; 
}
#sequels{ 
background-image: linear-gradient(#ffff33,	#99ff33, #33ff33,#33ff99);
}

#plot{
    background-image: linear-gradient(#ff33cc,#3333ff,#33ffcc);
}
.links {
    float: left;
    color: crimson;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    text-decoration: none;
}
.links:hover {
    background-color: azure;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
